@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["MyTitle"] = "Howzit Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["MyTitle"]</h2>

<p>Use this page to detail your site's privacy policy.</p>
